{% extends "base.html" %}

{% block title %}Thanh toán Hồ sơ TN - Sản phẩm NC{% endblock %}

{% block content %}
<h3 class="text-center mb-4">Thanh toán Hồ sơ Tốt nghiệp - Sản phẩm nghiên cứu</h3>

<div class="row g-4">

    <div class="card shadow">
        <div class="card-body text-center">
            <h4 class="mb-4">📄 Tạo report: Hồ sơ Tốt nghiệp - Sản phẩm nghiên cứu</h4>            
            <p>Điền thông tin số liệu theo <a href="/static/samples/Data_HoSoTN_SanPhamNC.xlsx">mẫu</a> đính kèm và upload lên hệ thống để sinh report</p>
            <form id="uploadForm">
                <input type="file" name="file" class="form-control mb-3" required>

                <button class="btn btn-primary w-100">Upload & Process</button>
                <input type="hidden" name="report_type" id="report_type" value="hstn_spnc" />
            </form>

            <div id="loading" class="text-center mt-3 d-none">
                <div class="spinner-border text-primary"></div>
                <p>Processing...</p>
            </div>

            <div class="text-center">
                Vui lòng nộp bản mềm, kèm file mô tả chi tiết cách tính qua mail cho <b>Phòng Khảo thí và Đảm bảo chất lượng</b>, thông qua email: <br>nhungnh@hcmue.edu.vn / phongkhaothi@hcmue.edu.vn
            </div>

            <div id="error" class="text-danger mt-3"></div>
        </div>
    </div>

</div>
{% endblock %}